{% extends '@SyliusAdmin/shared/layout/base.html.twig' %}

{% set scope_labels = {taxon: 'loyalty.ui.scope_taxon', product: 'loyalty.ui.scope_product', variant: 'loyalty.ui.scope_variant'} %}

{% block title %}{{ 'sylius.ui.new'|trans }} {{ (scope_labels[scope] ?? scope)|trans }} {{ 'loyalty.ui.earning_rule'|trans }} | {{ parent() }}{% endblock %}

{% block body %}
    {% include '@SyliusAdmin/shared/crud/common/sidebar.html.twig' %}

    <div class="page-wrapper">
        {% include '@SyliusAdmin/shared/crud/common/navbar.html.twig' %}
        {% include '@SyliusAdmin/shared/crud/common/content/flashes.html.twig' %}

        {% from '@SyliusAdmin/shared/helper/breadcrumbs.html.twig' import breadcrumbs %}
        <div class="page-header" data-sticky-header>
            <div class="container-xl">
                {{ breadcrumbs([
                    { name: 'sylius.ui.dashboard', url: path('sylius_admin_dashboard'), active: false },
                    { name: 'loyalty.ui.loyalty_earning_rules', url: path('loyalty_admin_earning_rule_index'), active: false },
                    { name: 'sylius.ui.new', active: true },
                ]) }}
                <div class="row mt-3 row-gap-2">
                    <div class="col-12 col-md">
                        <h1 class="page-title">
                            {{ 'sylius.ui.new'|trans }} {{ (scope_labels[scope] ?? scope)|trans }} {{ 'loyalty.ui.earning_rule'|trans }}
                        </h1>
                    </div>
                    <div class="col-12 col-md-auto ms-auto d-print-none">
                        <div class="btn-list">
                            <a href="{{ path('loyalty_admin_earning_rule_index') }}" class="btn">{{ 'sylius.ui.cancel'|trans }}</a>
                            <button type="submit" form="earning-rule-form" class="btn btn-primary">{{ 'sylius.ui.create'|trans }}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="page-body">
            <div class="container-xl">
                {% form_theme form '@SyliusAdmin/shared/form_theme.html.twig' '@SyliusLoyaltyPlugin/admin/loyalty_earning_rule/form_theme.html.twig' %}
                {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'id': 'earning-rule-form'}}) }}
                <div class="card">
                    <div class="card-body">
                        {{ form_widget(form) }}
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>

        {% include '@SyliusAdmin/shared/crud/common/content/footer.html.twig' %}
    </div>
{% endblock %}
