{% extends '@SyliusAdmin/shared/layout/base.html.twig' %}

{% block title %}{{ 'loyalty.ui.loyalty_configuration'|trans }} | {{ parent() }}{% endblock %}

{% block body %}
    {% include '@SyliusAdmin/shared/crud/common/sidebar.html.twig' %}

    <div class="page-wrapper">
        {% include '@SyliusAdmin/shared/crud/common/navbar.html.twig' %}

        {% include '@SyliusAdmin/shared/crud/common/content/flashes.html.twig' %}

        {% from '@SyliusAdmin/shared/helper/breadcrumbs.html.twig' import breadcrumbs %}
        <div class="page-header" data-sticky-header>
            <div class="container-xl">
                {{ breadcrumbs([
                    { name: 'sylius.ui.dashboard', url: path('sylius_admin_dashboard'), active: false },
                    { name: 'loyalty.ui.loyalty_configuration', active: true },
                ]) }}
                <div class="row mt-3 row-gap-2">
                    <div class="col-12 col-md">
                        <div class="d-md-flex gap-2 align-items-center">
                            <div class="d-flex gap-3 align-items-center">
                                <div class="d-flex flex-column gap-2">
                                    <h1 class="page-title">
                                        {{ 'loyalty.ui.loyalty_configuration'|trans }}
                                    </h1>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-auto ms-auto d-print-none">
                        <div class="btn-list">
                            <button type="submit" form="loyalty-config-form" class="btn btn-primary">
                                {{ 'sylius.ui.save'|trans }}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="page-body">
            <div class="container-xl">
                {% form_theme form '@SyliusAdmin/shared/form_theme.html.twig' %}
                {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'id': 'loyalty-config-form'}}) }}
                <div class="row row-cards">
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">{{ 'loyalty.ui.config_earning'|trans }}</h3>
                            </div>
                            <div class="card-body">
                                {{ form_row(form.pointsPerCurrencyUnit) }}
                                {{ form_row(form.redemptionRate) }}
                                {{ form_row(form.expiryMonths) }}
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">{{ 'loyalty.ui.config_bonuses'|trans }}</h3>
                            </div>
                            <div class="card-body">
                                <div class="mb-3 p-3 border rounded">
                                    {{ form_row(form.registrationBonusEnabled) }}
                                    {{ form_row(form.registrationBonusPoints) }}
                                </div>
                                <div class="mb-3 p-3 border rounded">
                                    {{ form_row(form.birthdayBonusEnabled) }}
                                    {{ form_row(form.birthdayBonusPoints) }}
                                </div>
                                <div class="p-3 border rounded">
                                    {{ form_row(form.firstOrderBonusEnabled) }}
                                    {{ form_row(form.firstOrderBonusPoints) }}
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                {{ form_end(form) }}
            </div>
        </div>

        {% include '@SyliusAdmin/shared/crud/common/content/footer.html.twig' %}
    </div>
{% endblock %}
